html{
    height: 100%;
}

*
{ margin: 0;
  padding: 0;}

body{ 
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F0EFE2;
    color: #777;
}

p{ 
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

}

h1, h2, h3, h4, h5, h6, {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15% 0;
    padding: 15% 0 5% 0;}

h2{
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #A4AA04; 
}

h1{
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #004de6;
    margin: 0 0 15% 0;
    padding: 15% 0 5% 0;
        
}

h4, h5, h6{ 
    margin: 0;
    padding: 0 0 5% 0;
    font: normal 120% arial, sans-serif;
    color: #004de6;
}

h5, h6{ 
    font: italic 95% arial, sans-serif;
    padding: 0 0 15% 0;
    color: #000;}

h6{ 
    color: #362C20;
}

a, a:hover{ 
    outline: none;
    text-decoration: none;
    color: #1293EE;
}


.center{ 
    display: block;
    text-align: center;
    margin: 20px auto;
}

ul{ 
    margin: 2px 0 22px 17px;
}


#main, #logo, #menubar, #site_content, #footer{ 
    margin-left: auto; 
    margin-right: auto;
    width: 900px;
}

#header{ 
  height: 240px;
  width: 900px;
}

#logo{ 
    width: 900px;
    position: relative;
    height: 200px;
    background: #ffffff url(../images/BrightHotellEmblem) no-repeat;
}

#menubar{ 
    width: 900px;
    height: 72px;
    padding: 0;
    background: #004de6;
} 

ul#menu, ul#menu li{ 
    float: center;
    margin: 0; 
    padding: 0;
}

ul#menu li{ 
    list-style: none;
}

ul#menu li a{ 
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    display: block; 
    float: left; 
    height: 37px;
    padding: 29px 26px 6px 26px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
} 

ul#menu li a:hover, ul#menu li.active a, ul#menu li.active a:hover{ 
    color: #FFF;
    background:  #80aaff;
}

#site_content{ 
    width: 900px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 20px 24px 20px 37px;
    background: #FFF;

} 

.sidebar{ 
    float: right;
    width: 190px;
    padding: 0 15px 20px 15px;
}

#content{ 
    text-align: left;
    width: 900px;
}

#content ul{ 
    margin: 2px 0 22px 0px;
}

#content ul li{ 
    list-style-type: none;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

#footer{ 
    width: 900px;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    height: 33px;
    padding: 24px 0 5px 0;
    text-align: center; 
    background: #29425E;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
article {
    float:left;
    width:500px;
    padding-left: 20px;
}

h7{
    
    color: #004de6;
    font: normal 175% 'century gothic', arial, sans-serif;
}

.dropbtn {
    background-color: #004de6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    display: block; 
    height: 37px;
    border:0px red solid;
    padding: 29px 26px 6px 26px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #80aaff;
    color: white;
}



 #map {
        height: 400%;
        width: 100%;
       }

@media (max-width: 850px){
    #menubar
    {
        width: 150%;
        text-align: center;
        height: 150%;
    }

    #ul#menu li a
    {
        float: down;
        background-color: #000033;
        width: 125%; 
        height: 70px;
        text-align: center;
    }
    

    
    #dropdown-content
    {
        width: 84%;
        text-align: center;
    }
    
    #footer
    {
        width: 100%;
        text-align: center;
    }
    
    

    
    #menubar
    {
        width: 250%;
        float: left;
        height: 150px;
    }
    
    #header
    {
        width: 37.25%;
        margin-left: 25px;
    }
    
    #main, #footer
    {
        width: 80%;
    }
    
    #logo{
        width: 250%;
    }
    
    #slider, #content, #background {
        float: left;
        width: 100%;
    }
    
    #site_content{
        float: left;
        width: 100%;
    }
    
    #sidebar{
        float: center;
    }
}
