html{
    height: 100%;
}

*
{ margin: 0;
  padding: 0;}

body{ 
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F0EFE2;
    color: #777;
}

p{ 
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

}

h1, h2, h3, h4, h5, h6, {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;}

h2{
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #A4AA04; 
}

h1{
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #004de6;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
        
}

h4, h5, h6{ 
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #004de6;
}

h5, h6{ 
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
    color: #000;}

h6{ 
    color: #362C20;
}

a, a:hover{ 
    outline: none;
    text-decoration: none;
    color: #1293EE;
}

.left{ 
    float: left;
    width: auto;
    margin-right: 10px;
}

.right{ 
    float: right; 
    width: auto;
    margin-left: 10px;
}

.center{ 
    display: block;
    text-align: center;
    margin: 20px auto;
}

ul{ 
    margin: 2px 0 22px 17px;
}

#main, #logo, #menubar, #site_content, #footer{ 
    margin-left: auto; 
    margin-right: auto;
}

#header{ 
  height: 240px;
}

#logo{ 
    width: 825px;
    position: relative;
    height: 200px;
    background: #ffffff url(../images/BrightHotellEmblem) no-repeat;
}

#menubar{ 
    width: 877px;
    height: 72px;
    padding: 0;
    background: #004de6;
} 

ul#menu, ul#menu li{ 
    float: left;
    margin: 0; 
    padding: 0;
}

ul#menu li{ 
    list-style: none;
}

ul#menu li a{ 
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    display: block; 
    float: left; 
    height: 37px;
    padding: 29px 26px 6px 26px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
} 

ul#menu li a:hover, ul#menu li.active a, ul#menu li.active a:hover{ 
    color: #FFF;
    background:  #80aaff;
}

#site_content{ 
    width: 837px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 20px 24px 20px 37px;
    background: #FFF url(../images/sidan.png) repeat-y;
} 

.sidebar{ 
    float: right;
    width: 190px;
    padding: 0 15px 20px 15px;
}

#content{ 
    text-align: left;
    width: 595px;
    padding: 0;
}

#content ul{ 
    margin: 2px 0 22px 0px;
}

#content ul li{ 
    list-style-type: none;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

#footer{ 
    width: 878px;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    height: 33px;
    padding: 24px 0 5px 0;
    text-align: center; 
    background: #29425E;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
article {
    float:left;
    width:500px;
    padding-left: 20px;
}

h7{
    
    color: #004de6;
    font: normal 175% 'century gothic', arial, sans-serif;
}

.dropbtn {
    background-color: #004de6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
    /* copied from menu li a css above */
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    display: block; 
    height: 37px;
    border:0px red solid;
    padding: 29px 26px 6px 26px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    /* end copy */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #80aaff;
    color: white;
}

@media (max-width:850px){
    #menubar {
        width:   
    }
    ul{
        position: static;
     }
    ul#menu li{
        display: block;
    }
}
@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
    left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

}

}

#slider {
	overflow: auto;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite; 

}